{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-2 col-xs-5 col-sm-3" producto>
        <div class="producto">
            <img src="img/tele.jpg" class="" alt="item">
        </div>
    </div>
    <div class="col-md-2 col-xs-5 col-sm-3 producto">
        <label>Nombre Producto</label>
        <p>Descripción producto</p>
    </div>
    <div class="col-md-2 col-xs-5 col-sm-2 producto">
        <label>Recompensa puntos:</label>
        <label>50000</label>
    </div>
    <div class="col-md-2 col-xs-5 col-sm-3 producto">
        <label>Precio: $300.000</label>
    </div>
    <div class="col-md-2 col-xs-1 col-sm-1 producto">
        <button type="button" class="btn btn-link btn-xs">
            <i class="material-icons">delete</i>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-2 col-xs-5 col-sm-3" producto>
        <div class="producto">
            <img src="img/tele.jpg" class="" alt="item">
        </div>
    </div>
    <div class="col-md-2 col-xs-5 col-sm-3 producto">
        <label>Nombre Producto</label>
        <p>Descripción producto</p>
    </div>
    <div class="col-md-2 col-xs-5 col-sm-2 producto">
        <label>Recompensa puntos:</label>
        <label>50000</label>
    </div>
    <div class="col-md-2 col-xs-5 col-sm-3 producto">
        <label>Precio: $300.000</label>
    </div>
    <div class="col-md-2 col-xs-1 col-sm-1 producto">
        <button type="button" class="btn btn-link btn-xs">
            <i class="material-icons">delete</i>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-2 col-xs-5 col-sm-3" producto>
        <div class="producto">
            <img src="img/tele.jpg" class="" alt="item">
        </div>
    </div>
    <div class="col-md-2 col-xs-5 col-sm-3 producto">
        <label>Nombre Producto</label>
        <p>Descripción producto</p>
    </div>
    <div class="col-md-2 col-xs-5 col-sm-2 producto">
        <label>Recompensa puntos:</label>
        <label>50000</label>
    </div>
    <div class="col-md-2 col-xs-5 col-sm-3 producto">
        <label>Precio: $300.000</label>
    </div>
    <div class="col-md-2 col-xs-1 col-sm-1 producto">
        <button type="button" class="btn btn-link btn-xs">
            <i class="material-icons">delete</i>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button type="submit" class="btn btn-primary derecha">Comprar</button>
    </div>
</div>
{% endblock %}